body {
    background-color: black;
}

#full {
    background-color: rgba(0,0,0,.9);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    display: none;
    text-align: center;
    vertical-align: middle;
}

#full {
    width: 100%;
    height: 100%;
}
#path {
    font-size: 14pt;
    border: 1px solid grey;
    color: white;
    background-color: black;
    width: 500px;
}