<!doctype html>
<html>
<head>
    <title>Pretty</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>
</head>
<body>
    <form id="formm"><input id="nums" type="number"
       min="1"
       max="50"
       step="1"
       value="6"/> <input type="text" id="path" value=""/> <a href="#" id="go">Go</a></form>
<div id="images">

</div>
<div id="full">

</div>
    <script src="{{ url_for('static', filename='js/jquery-1.6.4.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>